<div class="padding" ng-hide="camera.connected" style="padding-left: 15%; padding-right: 15%; padding-top: 10%; text-align:center;">
    <div ng-show="view.connected">
        <img width="100%" src="img/view-usb.png"><br>
        <p class="light padding">
            Connect camera to VIEW via USB to continue
        </p>
    </div>
    <div ng-hide="view.connected">
        <img width="100%" src="img/view-power.png"><br>
        <p class="light padding">
          {{status}}
        </p>
        <p ng-show="nodevice">
            <button class="button icon-left ion-plus button-dark" ng-click="showAddDevice()">Add Device</button>
        </p>
    </div>
</div>