<ion-view title="capture">
    <ion-content padding="true" class="has-header bg-dark">
        <div ng-if="connected==-1" class="bar bar-subheader bar-assertive">
          <h2 class="title">Reconnecting...</h2>
        </div>
        <div ng-include="'templates/_connect.html'"></div>
        <div ng-show="camera.connected">
            <div class="list card item-dark">
                <div class="item item-divider item-dark" ng-click="update()">{{camera.model}}</div>
                <div class="item item-body item-dark">
                    <center ng-hide="lastImage"><br><h1><i class="icon ion-image"></i></h1><br></center>
                    <img ng-show="lastImage" ng-src="data:image/jpeg;base64,{{lastImage.jpeg}}" width="100%" ng-click="zoom($event)">
                </div>
            </div>
            <div class="button-bar">
                <button class="button button-dark button-block" ng-click="capture()"><i class="icon ion-camera"></i></button>
                <button class="button button-dark button-block" ng-click="captureDelay(2)"><i class="icon ion-clock"></i> 2s</button>
                <button class="button button-dark button-block{{previewActive ? ' active' : ''}}" ng-click="preview()"><i class="icon ion-play"></i> LV</button>
            </div>
            <div class="button-bar" ng-show="focusMode && previewActive">
                <button class="button button-dark button-block" ng-click="focus(-2)"><i class="icon ion-skip-backward"></i></button>
                <button class="button button-dark button-block" ng-click="focus(-1)"><i class="icon ion-arrow-left-b"></i></button>
                <button class="button button-dark button-block" ng-click="focus(1)"><i class="icon ion-arrow-right-b"></i></button>
                <button class="button button-dark button-block" ng-click="focus(2)"><i class="icon ion-skip-forward"></i></button>
            </div>

            <div class="row" ng-hide="focusMode" ng-repeat="a in axis | filter:{'connected':true}">
                <div class="button-bar" ng-hide="a.setup">
                    <button class="button button-dark button-block" ng-click="openMotionSetup(a.id)">Setup {{a.driver}} Motor {{a.motor}}</button>
                </div>
                <div class="button-bar" ng-show="a.setup">
                    <button class="button button-dark button-block" ng-disabled="a.moving" ng-click="move(a.id, -(a.moveSteps))"><i class="icon ion-skip-backward"></i></button>
                    <button class="button button-dark button-block" ng-click="openMotionSetup(a.id)">{{a.name}} {{a.unitMove}}{{a.unit}}</button>
                    <button class="button button-dark button-block" ng-disabled="a.moving" ng-click="move(a.id, (a.moveSteps))"><i class="icon ion-skip-forward"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-up"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{camera.shutter}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="icon ion-chevron-down"></i>
                        </div>
                    </div>
                </div>
            </div>
           
            <form>
                <p>{{status}}</p>
                <p>Total EV: {{camera.ev|number:1}}</p>
                <label class="item item-select item-dark" name="shutter" ng-show="camera.shutter">
                    <span class="input-label"><i class="icon ion-clock"></i> Shutter</span>
                    <select ng-model="camera.shutter" ng-options="i.cameraName as i.name for i in camera.lists.shutter" ng-change="updateParam('shutter')"></select>
                </label>
                <label class="item item-select item-dark" name="aperture" ng-show="camera.aperture">
                    <span class="input-label"><i class="icon ion-aperture"></i> Aperture</span>
                    <select ng-model="camera.aperture" ng-options="i.cameraName as i.name for i in camera.lists.aperture" ng-change="updateParam('aperture')"></select>
                </label>
                <label class="item item-select item-dark" name="iso" ng-show="camera.iso">
                    <span class="input-label"><i class="icon ion-levels"></i> ISO</span>
                    <select ng-model="camera.iso" ng-options="i.cameraName as i.name for i in camera.lists.iso" ng-change="updateParam('iso')"></select>
                </label>
            </form>
        </div>
        <!--button class="button button-dark button-block" ng-click="testBulb()"><i class="icon ion-camera"></i> Test Bulb</button-->
    </ion-content>
</ion-view>