<ion-view title="time-lapse clips">
    <ion-content padding="false" class="has-header bg-dark">
        <div ng-if="connected==-1" class="bar bar-subheader bar-assertive">
          <h2 class="title">Reconnecting...</h2>
        </div>
        <div class="padding" ng-hide="view.connected" style="padding-left: 15%; padding-right: 15%; padding-top: 10%; text-align:center;">
            <img width="100%" src="img/view-power.png"><br>
            <p class="light padding">
              {{status}}
            </p>
        </div>
        <div class="list card item-dark" ng-repeat="tl in clips" ng-show="view.connected">
            <div class="item item-divider item-dark" ng-click="showClipOptions(tl)">
                {{tl.name}} ({{tl.frames}} frames)
                <span style="float:right;"><i class="ion-navicon-round"></i></span>
            </div>
            <div class="item item-body item-dark">
                <div ng-hide="tl.playing" style="position: absolute;padding-left: 50%;padding-top: 25%;top: -1rem;left: -0rem;"><br><h1 ng-click="playTimelapse(tl.index)" ng-hide="tl.loading"><i class="icon ion-play"></i></h1><span ng-show="tl.loading">loading...</span><br></div>
                <img ng-src="data:image/jpeg;base64,{{tl.image}}" width="100%">
            </div>
        </div>

    </ion-content>
</ion-view>